*{
    /*font-family: 'ProximaNova-Semibold', Helvetica, Arial;*/
    font-family: 'Roboto', sans-serif; 
    margin:0;
    
    box-sizing: border-box;
    }
   
main {
      margin:0 auto; 
      width:90%;
         }
body {              
         background-color: #b9bdad;
}   
  .encabezado {
                background-color:#012641;
                padding-bottom:3px;
                width:100%;
                position:fixed;   
                top: 0;
                height:100px;
                z-index: 100;
  
              }
  #banner {  margin-top:100px; ;
             
  
  }
  
  
  /* top envuelve al logo, la barra de busqueda y mensaje de cuotas, salvo para celulares donde oculto las cuotas*/
  .top        { display:flex;
                /*flex-wrap:wrap;*/
                padding:10px;
                /*box-sizing: border-box; */
              
                /*margin:0 auto;*/
                box-sizing: border-box;
              }
  .logo       {
                  
              }
  
     
  .barbusqueda {        
                  /*width:20%;*/
                  

               }               
 .barbusqueda input[type=text]{
                margin-top:0px;
                margin-left:0px;
                padding: 100px 100px;
                border: 1px solid lightskyblue;
                font-size: 12px;
                /*width:20%*/
                     }


  .cuotas       {              
                
                color:silver;
                /*display:none;*/
                justify-content: flex-end;
              } 
 
                            
                                                  
                       
  /*cuotas2 es el mensaje de cuotas para celulares porque no comparten un flex, sino que va abajo */
  #cuotas2  { text-align:center;} 
              
  /*Aplicando propiedades al menú de las 3 barritas en fdo azul*/
  .barras {
            font-size: 12px;
            background-color:#1259c3;
            color: white;
            display: block;
            margin: auto;
            text-align: center;
            max-width: 40px;   
            padding: 7px;
            border-radius: 10px;
          }
  
  img  {
          width: 100%;
       } 
  

  }
  .caja-menu {           background-color: #000000;

                          }
  
  .menu {
          color:rgb(255, 255, 255);
          font-size:0.8rem; 
          padding:10px;
          width:90%;
          margin:0 auto; 

        }   
  .opciones {text-align:center;}
  
  .opciones, .opciones2 ,.opciones2soloicono {
              display:none;
              }
  
              .opciones li a {
                padding-right:25px;
                color:silver;
                font-size:0.7rem;

              }
                 

.opciones2 li a{
                color:#d7a836;
                /*font-weight: bold;*/
                font-size:0.7rem;

  }
          
        
  .productos { 
          display:flex;
          padding:1rem; 
          flex-wrap:wrap;
          box-sizing: border-box;
          
         }
  
         .genero  {
          font-size: 88px;
          text-align: center;
          color: #0073CD;
         }
         .genero.pink  {
          color: #FF007F;
         }
         
         .boton.pink {
          background-color: #FF007F;
          
        }
        .boton   {
          text-align: center;
          background-color: #0073CD;
          color:white;
          display: inline-block;
          background-color: #0076CB;
          padding: 15px 48px;
          /*font-family: 'ProximaNova-Bold', Helvetica, Arial;*/
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #FFF;
          border: 0px;
          border-radius: 0px;
          cursor: pointer;
        }

         .titulares{ 
          /*font-family: 'ProximaNova-Semibold', Helvetica, Arial;*/
          font-size:30px; 
          text-align: center;
          margin-top:20px;
        } 
        
        
  .producto {
             margin:20px auto;
             
             background-color: rgb(255, 255, 255);
             box-sizing: border-box;


            }
  .producto a img {
                    width:70%;
                    height:250px; 
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

  }
  .producto-genero {
    margin:120px auto;
    
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;


   }
 .producto-genero a img {
           width:70%;
           height:450px; 
           display: block;
           margin-left: auto;
           margin-right: auto;

  }


  .caja-producto {
                  border-top: 1px #ebebeb solid;
                  padding:15px;
                  position:relative;
                  text-align:center;
                 }
                 .caja-producto-genero {
                  border-top: 1px #ebebeb solid;
                  padding:15px;
                  position:relative;
                  text-align:center;
                 }
 
                 

  main section article section i  
              {
                display: block ;
                font-size: 16px ;
                padding: 5px ;
                width: 30px ;
                height: 30px ;
                border: 1px solid #39b54a ;
                background-color: #FFF ;
                border-radius: 50% ;
                position: absolute ;
                right: 20px ;
                top: -15px ;      
              }        
  
  
  
  
  p {font-size:12px;}
  
   
  
  .precios {  
            font-size:18px;
            display:inline;}
  
  .descuentos {font-size:16px;
              display:inline; 
              color:#39b54a;
              padding:20px;}
  
  .descripciones {
                  font-size:16px; 
                  font-weight:bold;
                  display: none;
  
                }
  
                .caja-producto-genero p {
    
                  /*font-family: 'ProximaNova-Regular', Helvetica, Arial;*/
                  font-size: 14px;
                  color: #999;
                  line-height: 1.7;
                  padding: 20px 0px;
                  width: 100%; 
              }
             
            



  .icofoot {
            
            font-size:2.0em;
            color:#d7a836;
            margin-bottom: 10px;
            transition: color 1s;
  
          }
  
  .icofoot:hover {
            color:magenta;
  
  }
  .titfoot {
            margin-bottom:10px;
  
          }
  
  .textfoot {
            color:#d7a836;
            font-size: 12px;
          }
  
  #Copyright  {
                margin-top:25px;
                text-align:center;
                color:whitesmoke;
                margin-bottom: 20px;
  }
   
  
  /*
  ********************************************
  media screen 361px
  */
  
  
  @media screen and (min-width: 361px) {
    .encabezado {height:100px}
    #banner {  margin-top:100px; }
  
  .barbusqueda input[type=text]{
      /*float: right;*/
      margin-top:0px;
      padding: 6px 20px;
      border-radius: 10px ;

      border: none;
      /*margin-top: 8px;
      margin-right: 16px;*/
      font-size: 12px;
           }
  .logo       {
            width:40%
        }        
           
  .barbusqueda {        
                  width:40%
               } 
  
  .cuotas {              
            margin-top:0px;
            display:block;
            /*font-size:12px;*/
          }           
  #cuotas2  { display:none;} 
  
  .menu { display:flex;
    flex-wrap: wrap;
    color:#ffffff;
    /*font-weight:bold;*/
     
  }     
  
  .opciones  {
  /*display: flex;*/
  list-style: none;
  margin: 0; 
  padding: 0; 
  padding-left: 0px;
  /*padding-right: 10px;*/
  
  justify-content: flex-start;
  width: 50%;
  }
  .opciones li{
      /*flex: 1; */
    }            
  
  .opciones a{
  
    font-size: 1.3rem;
    text-decoration: none;
  
    /*font-weight:bold;  */
  
  }
  .opciones a:hover{
    color: rgb(128, 0, 0);
    background-color: white;
    border-radius: 5px;

  }
  
  .opciones2  {
    display:none;
    }
  
  
  .opciones2soloicono {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content:flex-end;
  width: 40%;
  
  }
  
  .opciones2soloicono a{          
  font-size: 1rem;
  text-decoration: none;
  font-weight:bold;
  margin-left:10px;
  }      
  
  
  .productos {
              flex-wrap:wrap;
             }  
  
  .producto{  box-shadow:none;  
              width:50%; 
              transition: box-shadow 1s;
            }
  .descripciones {display:none;
            }
            
  
  .producto:hover { box-shadow:  0px 0px 100px rgb(116, 116, 116);
  } 
  
  .barras {display:none}
   
  footer { 
            text-align:center;
            padding:20px;
            background-color:#012641;
            color:#ffffff;
          }
  
  
  
  
  
  
  
  /*
  ********************************************
  media screen 400px
  */
  
  
  @media screen and (min-width: 400px) {
    .encabezado {
      height:100px;
  
    }
    #banner {  margin-top:100px;}
  
  .barbusqueda input[type=text]{
      /*float: right;*/
      margin-top:0px;
      margin-left:20px;
      padding: 6px 40px;
      border: none;
      /*margin-top: 8px;
      margin-right: 16px;*/
      font-size: 12px;
           }
           
           
  .barbusqueda {        
                  width:40%
               } 
  
  .cuotas {              
            margin-top:0px;
            display:block;
           /* font-size:12px;*/
          }           
  #cuotas2  { display:none;} 
  
  .menu { display:flex;
    color:#ffffff;
    /*font-weight:bold;*/
     
  }     
  
  .opciones  {
  /*display: flex;*/
  list-style: none;
  margin: 0; 
  padding: 0; 
  padding-left: 0px;
  /*padding-right: 10px;*/
  /*flex-wrap: nowrap;*/
  justify-content: flex-start;
  width: 40%;
  }
  .opciones li{
      /*flex: 1; */
    }            
  
  .opciones a{
  
    font-size: 0.9rem;
    text-decoration: none;
  
    /*font-weight:bold;  */
  
  }
  .opciones a:hover{
    color: rgb(128, 0, 0);
    background-color: white;
    border-radius: 5px;
  }
  
  .opciones2  {
    display:none;
    }
  
  
  .opciones2soloicono {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content:flex-end;
  width: 50%;
  
  
  }
  
  .opciones2soloicono a{          
  font-size: 0.8rem;
  text-decoration: none;
  font-weight:bold;
  margin-left:25px;
  }      
  
  
  .productos {
              flex-wrap:wrap;
             }  
  
  .producto{  box-shadow:none;  
              width:50%; 
              transition: box-shadow 1s;
            }
  .descripciones {display:hidden;
            }             
  .producto:hover { box-shadow:  0px 0px 100px rgb(116, 116, 116);
                  
                  } 
  
  .barras {display:none}
   
  footer { 
            text-align:center;
            padding:20px;
          }
  
  
  
  
  
  /*
  ********************************************
  media screen 769px
  
  */
  
  @media screen and (min-width: 769px)  {
  
  
        .encabezado {
          height:150px;
      
        }
        .top {justify-content: space-between; 
          text-align:center;
          width:90%;
          margin:auto;
        }
        .logo       {
          width:17%
      }
                       
    .barbusqueda input[type=text]
    {
      /*float: right;*/
      
      margin-left:0px;
      padding: 10px 50px;
      border: 1px silver solid;
      /*margin-top: 8px;
      margin-right: 16px;*/
      font-size: 12px;
           }
  .cuotas       {              
            
        
            justify-content: flex-end;
          }     
          
  #cuotas2  { display:none;}    
       
  
  .menu { display:flex;
      

                 /* flex-wrap: wrap;*/
                  color:#ffffff;
                 /* flex-direction: row;*/
                /*  font-weight:bold;*/
                   
            }     
      
  .opciones  {
        display: flex;
        list-style: none;
        margin: 0; 
        padding-left: 0px;
        
        /*flex-wrap: wrap;*/
        justify-content: flex-start;
        width: 25%;
                }
             
    
  .opciones li a{
         
                  font-size:1rem;
                  text-decoration: none;
                  padding-right: 10px;
                  /*font-weight:bold;  */


  
                }
  .opciones a:hover, .opciones2 a:hover {
                  color: #c31212;
                  background-color: white;
                  border-radius: 10px;
                  padding:8px;

                }
  
                
  .opciones2soloicono  { display:none;}                  
  .opciones2 {
        display: flex;
        list-style: none;
        margin: 0; 
        padding: 0px; 
        
        padding-right: 0px;
        flex-wrap: wrap;
        width: 75%;
        justify-content: flex-end;
  
  
        }
  .opciones2 li a{          
                font-size: 1rem;
                text-decoration: none;
                /*font-weight:bold;*/
                padding-left: 10px;

            }   
            
  #banner {  margin-top:100px;}
           
                    
    
  #tiendas   {
                    flex-grow:2;
    
            }
  
  .productos {
                flex-wrap:wrap;
               }
  .producto{
                /*box-shadow:  0px 0px 10px rgb(100 , 100, 100);*/
                width:45%;
                margin-right:10px;
              }

              .producto-genero{
                /*box-shadow:  0px 0px 10px rgb(100 , 100, 100);*/
                width:40%;
                margin-right:10px;
              }                
  .descripciones {
               display:hidden;
              }
  
  
  .barras {display:none}
  
  #footcontainer {
    box-sizing: border-box;
    display:flex;
   
  }
  .columnas-foot {
    width:30%;
   
   }
  }
  
  
  /*media screen 1000px*****************************************************************************/
  
  
  
   @media screen and (min-width: 1000px) {
    
    .encabezado {
      height:100px;
  
    }
    input::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 3;
      padding-left:0px;
  }
    .barbusqueda input[type=text]
    {
      /*float: right;*/
      
      margin-left:0px;
      padding: 10px 85px;
      border: 2px silver solid;
      /*margin-top: 8px;
      margin-right: 16px;*/
      font-size: 12px;
           }


    .logo {width:10%}
    #banner {  margin-top:100px;}
    .opciones  {
      width: 25%;
      justify-content: flex-start;

    }
    .opciones2 {
      
      justify-content: flex-end;
      width:75%;
  
    
      }
    .opciones li a, .opciones2 li a {
      font-size:1.1rem;
  
    }
    
  
   }
  
  @media screen and (min-width: 1200px) {
    .encabezado {

      height:120px;
  
    }

    
    


    .caja-menu {           /*background-color: #0076CB;
                            border-bottom:  #0076CB 7px solid;*/

    }
    .top {justify-content: space-between; 
          text-align:center;
          width:90%;
          margin:auto;
        }

    .logo {
      width: 10%;
     } 
     
    .cuotas       {
     /* width:60%;*/
     font-size:large;
     font-weight:bold;
     justify-content: flex-end;

     }
    
    .barbusqueda {

    }

    
    .menu {
      display:flex;
      justify-content: space-between; 
    }
    .menu a {
      
    }
    

    
  
    #banner {  margin-top:120px;}
    .icono {
       margin-left:10px;
  
  
    }

    .producto {
      /*box-shadow:  0px 0px 10px rgb(100 , 100, 100);*/
      width:23%;
      margin-right:10px;
    }
     .producto:hover  .descripciones {
      display:block;
      color:black;
     }
  
  #footcontainer {
    box-sizing: border-box;
    display:flex;
    justify-content: space-evenly;
  }
  .columnas-foot {
   width:30%;
  
  }
  
  }

  