<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles-pdetail.css">
    <link rel="stylesheet" href="/css/styles-pdcart.css">
    <link rel='stylesheet' href='/css/login-style.css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header> 
        <section id='header-1'>

        <section class='header-main'>

            <figure class='logo'>
                <a href="/"> <img id='logo' src= 'images/descarga.png' alt= 'Logotipo PRUEBA Paginaweb'></a>
            </figure>

            <section class='navbar'>
                <section>
                    <div>
                        <input class='navbar-text' type='text' id='busqueda' placeholder="Buscar modelos, talles, etc" name='busqueda'>
                    </div>
                </section>
            </section>

            </section>
            <nav>               

                <section class='mobile-1'>

                    <ul class="text-items">
                        <li><a href= '#'>Ofertas</a></li>
                        <li><a href= '#'>Marcas Recomendadas</a></li>
                        <li><a href= '#'>Categorias</a></li>
                        <li><a href= '#'>Ayuda</a></li>
                        <li><a href= '#'>Quienes Somos</a></li>
                    </ul>

                    <ul class="text-items">
                        <li><a href="/register">Creá tu cuenta <i class="fas fa-id-badge"></i></i></a></li>
                        <li><a href= "/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></i></li>
                        <li><a href= '#'>Mis compras <i class="fas fa-box"></i></a></i></li>
                    </ul>

                </section>

                <figure id='mobile-1' class= 'burger-menu'>
                    <i class="fas fa-bars" id='burger-menu'></i>
                </figure>

        </nav>
        </section>
    </header>
    <main>
        <div class="pd-cart-container">
            <h1 class="pd-cart-title">Tu carrito de compras</h1>
            <div class="pd-cart-top-container">
                <div class="pd-cart-top-name">
                    <p>Item</p>
                </div>
                <div class="pd-cart-top-price">
                    <p>Precio unitario</p>
                </div>
                <div class="pd-cart-top-quantity">
                    <p>Cantidad</p>
                </div>
                <div class="pd-cart-top-subtotal">
                    <p>Subtotal</p>
                </div>
            </div>
            <div class="pd-cart-item-container">
                <div class="pd-cart-item-itemname">
                    <p>Crocs Classic Unisex</p>
                </div>
                <div class="pd-cart-item-itemprice">
                    <p>$3500</p>
                </div>
                <div class="pd-cart-item-itemquantity">
                    <input type="number" min="1" max="100" step="12" value="1">
                </div>
                <div class="pd-cart-item-itemsubtotal">
                    <p>$3500</p>
                </div>
                <div class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </div>
            </div>
            <div class="pd-cart-item-container">
                <div class="pd-cart-item-itemname">
                    <p>Crocs Mujer Due Sport Clog Pink</p>
                </div>
                <div class="pd-cart-item-itemprice">
                    <p>$3000</p>
                </div>
                <div class="pd-cart-item-itemquantity">
                    <input type="number" min="1" max="100" step="12" value="1">
                </div>
                <div class="pd-cart-item-itemsubtotal">
                    <p>$3000</p>
                </div>
                <div class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </div>
            </div>
            <div class="pd-cart-item-container">
                <div class="pd-cart-item-itemname">
                    <p>Sandalias Gomon Sueco Plataforma Trenzado</p>
                </div>
                <div class="pd-cart-item-itemprice">
                    <p>$2000</p>
                </div>
                <div class="pd-cart-item-itemquantity">
                    <input type="number" min="1" max="100" step="12" value="1">
                </div>
                <div class="pd-cart-item-itemsubtotal">
                    <p>$2000</p>
                </div>
                <div class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </div>
            </div>
            <div class="pd-cart-total-container">
                <h1>Total: $7500</h1>
            </div>
            <div class="pd-cart-buttons-container">
                <button class="pd-cart-buttons-continue">Continuar comprando</button>
                <button class="pd-cart-buttons-checkout" type="submit">Proceder al pago</button>
            </div>
        </div>
    </main>
    <footer> 
        <section class='contenedor-footer1'>

            <section class='contenedor-footer2'>
                <i id='footer-icons' class="fas fa-credit-card"></i>
                <h2 class= 'footer-title'>Lorem ipsum dolor</h2>
                <p class='footer-p'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa praesentium ullam sint voluptate sequi, et possimus ut adipisci. Fugiat quibusdam illum vitae aperiam quam distinctio impedit, ad nisi nobis qui.</p>
            </section>

            <section class='contenedor-footer2'>
                <i id='footer-icons' class="fas fa-gift"></i>
                <h2 class= 'footer-title'>Lorem ipsum dolor</h2>
                <p class='footer-p'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, impedit quas! Qui, ex sapiente. Autem amet, minus iure sapiente sint, culpa numquam dolor harum voluptatum sed sunt, officia voluptate exercitationem.</p>
            </section>

            <section id='last-section-footer' class='contenedor-footer2'>
                <i id='footer-icons' class="fas fa-user-shield"></i>
                 <h2 class= 'footer-title'>Lorem ipsum dolor</h2>
                <p class='footer-p'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus facere quos nulla eos odio exercitationem tempora, dolorem explicabo? Deserunt qui est nemo rerum eligendi accusantium beatae, dolor similique a assumenda.</p>
            </section>

        </section>

        <section id='copyright'>
            <p >Copyright © 2020 Sandies Argentina</p>
        </section>

    </footer>
</body>
</html>